
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
}

body {
  padding: 30px;
  background: url(./images/bg.jpg);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  color: white;
}

button {
  box-shadow: 4px 4px rgb(10, 10, 10);
  font-weight: bold;
}

.line {
  width: 25%;
  height: 5px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
}

/* Header */

#navbar {
  border: 2px solid rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

#date-display {
  padding: 10px;
  margin-right: 10px;
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}

h1 {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

nav {
  display: flex;
}

nav > a {
  font-weight: bold;
  padding: 0 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav > a:not(:last-child) {
  border-right: 2px solid rgb(255, 255, 255);
}

/* Footer */

footer > p {
  text-align: center;
  font-size: 1.2rem;
  bottom: 1.2rem;
  position: absolute;
}

/* Books section */

.book {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.book > p {
  padding: 5px 10px;
  font-weight: bold;
  color: black;
}

.book > button {
  padding: 5px 10px;
}

.book:nth-child(odd) {
  background-color: rgb(209, 208, 208);
}

.book:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

#books_container {
  flex-direction: column;
  gap: 20px;
  width: 500px;
  margin: 40px auto;
}

#books_container > p {
  display: none;
  border: 2px solid rgb(247, 247, 247);
  background-color: rgb(0, 0, 0, 0.7);
  padding: 10px;
}

#book_list {
  display: flex;
  flex-direction: column;
}

/* Add book form */

#add_book_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  align-items: center;
  width: 400px;
  margin: 2% auto;
}

#add_book_form > input {
  font-size: 15px;
  padding: 10px 15px;
  width: 100%;
  border: 3px solid black;
  outline: none;
}

#add_book_form > button {
  font-size: 15px;
  padding: 5px 20px;
  align-self: flex-end;
}

/* All sections */
section {
  display: none;
}

section:target {
  display: flex;
}

#contact_section {
  flex-direction: column;
  margin: 5% auto;
  width: 80%;
  border: 2px solid rgb(247, 247, 247);
  background-color: rgb(0, 0, 0, 0.7);
  align-items: center;
  text-align: center;
  padding: 5%;
  gap: 1rem;
  border-radius: 10px;
}

#contact_section > p {
  text-align: left;
  font-size: 1.1rem;
}

#contact_section > ul {
  text-align: left;
}
